\:host
  display: block
  width: 31vw
  right: 0
  bottom: 0
  position: absolute

.camera
  display: block
  max-width: 100%
  height: auto

.camera#external_back,
.camera#external_garden
  display: inline-block
  max-width: 49.5%

\:host.event-doorbell
  left: 0
  animation: blinkingBackground 2s infinite;
  top: 0
  width: unset
  z-index: 10
  .camera
    width: 100%
  #external_garden,
  #external_back,
  #external_driveway
    display: none

@keyframes blinkingBackground
		0%		{ background-color: #10c018;}
		25%		{ background-color: #1056c0;}
		50%		{ background-color: #ef0a1a;}
		75%		{ background-color: #254878;}
		100%	{ background-color: #04a1d5;}
	