\:host
  display: block
  width: 31vw
  right: 0
  bottom: 0
  position: absolute

img
  display: block
  max-width: 100%

img#external_garden,
img#external_back
  display: inline-block
  max-width: 50%
