\:host
  display: block
  width: 31vw
  right: 0
  bottom: 0
  position: absolute

mjpegstream
  display: block
  max-width: 100%

mjpegstream#external_back,
mjpegstream#external_garden
  display: inline-block
  max-width: 50%
