@import '../../font-awesome.sass'

\:host
  font-size: 0.75em
  display: block
  float: left
  width: 40vw

.h_iframe
  position: relative
  .ratio 
    display: block
    width: 100%
    height: 30em
  iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.hourly
  clear: both
  float: left
  font-size: 1.7em
  position: relative
  width: 18vw
  td
    line-height: 1.4em
    white-space: nowrap
  weather-icon
    font-size: 0.1em
    margin-left: -2em
    display: block
    margin-top: -9em
    height: 5em
//+gradient

.temp-high:before
  margin: 0 0.3em
  @extend .fa, .fa-arrow-up

.temp-low:before
  margin: 0 0.3em
  @extend .fa, .fa-arrow-down

.rain:before
  margin: 0 0.3em
  @extend .fa, .fa-tint

.current
  weather-icon
    display: block
    margin-top: -2em
    height: 17em
    margin-left: -3.5em
    width: 24em
    float: left
  .details
    font-size: 1.2em
  .summary
    font-size: 3vw
    margin: 0 0 -0.3em 0
    text-align: justify
    text-justify: inter-word
    text-align-last: justify

  .temp
    margin-top: 1.2em
    font-size: 4em
  &:after
    display: block
    content: ""
    clear: both

.forecast
  float: left
  font-size: 1.4em
  margin: 0 0 0 1em
  display: block
  width: 19vw
  h3
    display: block
    margin-bottom: 0.2em
    margin-block-start: 0
  p
    margin-block-start: 0
    margin-block-end: 0

//display: inline